/* We are using the Bootstrap CSS files via a CDN and so most of the CSS rules are predefined by Bootstrap, however we have had to create some custom classes with rules in this stylesheet */
:root {
    --primary: #ffffff;
    --light-dark: #4b74a5;
    --dark: #425364;
    --pink: #dec3c3;
}
/*The variables above allow us to use specify the same colour in numerous places easily */

* {
    box-sizing: border-box;
    margin: 2px;

}

body {
    background-size: cover;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    color: var(--primary);
    line-height: 1.25;
}

/* We use a hero class to create a header for our site */
.hero {
    padding: 3% 4%;
    color: #FFF;
    background-color: var(--pink);
}

/* We use this class to keep the search button and recently searched information to the side of the page */
.side {
    border: 3px solid var(--pink);
    border-radius: var(--border-radius);
    align-content: center;
    float: left;
    width: 55%;
}

.card-header {
    background-color: var(--pink);
  }

/*These cards are what each forecast is displayed in, we use flex classes to allow them to be stacked in a row */
#forecast-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: ;
  } 

html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px;
  }

  /*We have created a sticky footer so it is always at the bottom of the page */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color: #f5f5f5;
  }
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

  /*This class uses the icon provided by the API and positions it at the top of the card, we adjust the size of the icon so it isn't too big */
  .card-img-top {
    width: 80px;
  }

  /* We use this class to make the city name bold & larger so it's easier to read */
  .forecast-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
  }